extends layout

block content
  h1= title
  form(method="post", name="submit-files", enctype="multipart/form-data")
    p Arquivo texto (obrigatório)
    input(type="file", name="input_file")
    p Arquivo de palavras a serem ignoradas (opcional)
    input(type="file", name="ignore_file")
    input(type="submit", value="Confirmar")